# Basic system aliases -- these MUST be present.
mailer-daemon:  postmaster
postmaster: root

{% for orig, redir in aliases.items() %}
{{ orig }}: {% if redir is string %} {{ redir }}
{% else %} {{ redir |join(', ') }}
{% endif  %}
{% endfor %}
